@import "settings";
@import "foundation";

@include foundation-everything;

.site-header {
	padding-top: 4rem;
	padding-bottom: 4rem;
	.site-title {
		font-size: 2.5rem;
	}
	.switch {
		.switch-paddle {
			width: 10rem;
		}
		input:checked ~ .switch-paddle::after {
			left: 7.75rem;
		}
		.switch-inactive {
			right: 5%;
		}
	}
}
